h1{
  font-family: courier, courier-new, serif;
  font-size: 19pt;
  color:blue;
}
p{
  font-family: arial, verdana;
  font-size: 15pt;
  color: #6B6BD7;
}
li{
 color:red;
 text-align: center;
}

body{
    color: black;
    font-family: "Times New Roman", Times, serif;
}
h3, h2{
    color: pink;
    font-size: 15pt;
}
.content{
  background-color: black;
  color: white;
  padding: 20px;
}

.navzone{
  color: blue;
  font-size: 90pt;
  font-style: italic;
}
